body {
  color: #40514e;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999e;
}

p {
  
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 3%;
}

.top-container {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 80px 0;
}

.profile-img {
  border-radius: 100%;

}

.greeting {
  margin-top: 25px;
}

.intro {
  margin: auto;
  width: 30%;
}

.course {
  color: black;
}

.programmer {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.coding-img {
  float: left;
  margin-right: 30px;
  width: 20%;
}

.customer-value-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 75px;
  padding: 10px 15px;
  background-color: #66BFBF;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #11999E;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #66BFBF;
  height: 100px;
}

.footer-img {
  margin: 0 15px;
  width: 3%;
}

.footer-img:hover {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0 0 10px #eaf6f6;
  -webkit-box-shadow: 0 0 10px #eaf6f6;
  box-shadow: 0 0 10px #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: .75rem;
  padding: 20px 0;
}